@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

/* Nav Styling */
nav ul li a {
	color: #ffffff;
	transition: all 0.3s ease 0s;
}

nav ul li a:hover {
	text-decoration: none;
	color: #00D17C;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	letter-spacing: 0.5;
	color: #000000;
}

/* Font Styling */
.header {
	font-family: Oswald;
	font-weight: 400;
	font-size: 1.5em;
	letter-spacing: 2;
	color: #000000;
}

p a {
	color: #00D17C;
	font-weight: 700;
	transition: all 0.3s ease 0s;
}

p a::selection {
	background-color: #00D17C;
	color: #000000;
}

p a:hover {
	color: #00D17C;
	text-decoration: none;
}

/* Section Styling */
.intro {
	max-width: 100%;
	min-height: 90%;
	background-image: url(../assets/images/clifton_win.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.about {
	padding-top: 100px;
	padding-bottom: 100px;
	font-family: 'Open Sans', sans-serif;
}

.about .header {
	margin-top: -8px;
}

.btn {
  	-webkit-border-radius: 2;
  	-moz-border-radius: 2;
  	border-radius: 2px;
	background-color: transparent;
	font-size: 0.8em;
  	color: #00D17C;
  	padding: 13px 16px 13px 16px;
  	border: solid #00D17C 2px;
  	text-decoration: none;
	letter-spacing: 2px;
	transition: all 0.3s ease 0s;
}

.btn:hover {
  	background: #00D17C;
  	text-decoration: none;
	color: #ffffff;
}

.events {
	padding: 10px 0 10px 0;
	background-color: #00D17C;
}

#upcoming {
	border-right: thin solid #000000;
}