@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@font-face {
    font-family: AvenirNextCondensed;
    src: url(../assets/fonts/avenir-next-regular.ttf);
}

nav {
 	width: 100%;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	letter-spacing: 4;
}

.right {
	position: absolute;
	padding-top: 50px;
	right: 57;
}

.left {
	position: absolute;
	padding-top: 50px;
	left: 60;
}

nav ul {
 	list-style: none;
 	display: inline-block;
}

nav ul li {
 	display: inline-block;
 	margin-right: 40px;
}
